/MillionareGame/.vs/MillionareGame/v16/Server/sqlite3/storage.ide-shm
/MillionareGame/.vs/MillionareGame/v16/Server/sqlite3/storage.ide-wal
/MillionareGame/MillionareGame/obj/Debug/MillionareGame.csprojAssemblyReference.cache
/MillionareGame/.vs/MillionareGame/v16/.suo
/MillionareGame/MillionareGame/bin/Debug/MillionareGame.exe
/MillionareGame/MillionareGame/bin/Debug/MillionareGame.pdb
/MillionareGame/MillionareGame/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/MillionareGame/MillionareGame/obj/Debug/MillionareGame.exe
/MillionareGame/MillionareGame/obj/Debug/MillionareGame.pdb
/MillionareGame/MillionareGame/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/MillionareGame/MillionareGame/obj/Debug/MillionareGame.exe
/MillionareGame/MillionareGame/bin/Debug/MillionareGame.pdb
