/MillionareGame/.vs/MillionareGame/v16/Server/sqlite3/storage.ide-shm
/MillionareGame/.vs/MillionareGame/v16/Server/sqlite3/storage.ide-wal
/MillionareGame/MillionareGame/obj/Debug/MillionareGame.csprojAssemblyReference.cache
